.formBlock{
    margin: 50px auto;
    text-align: center;
    background-color: #fff;    
    padding: 20px 40px;
    border-radius: 10px;
}

.newPostTitle input{
    width: 90%;
    height: 20px;
}

.newPostBody{
    margin-top: 10px;
}

.newPostBody textarea{
    width: 90%;
    min-height: 100px;

}

.newPostButton{
    margin-top: 20px;
}