.App-wrapper{
  margin: 0 auto;
  max-width: 1970px;
  display: grid;

  grid-template-areas:
  "h h"
  "n c";
   grid-template-rows: 80px 1fr;
    grid-template-columns: 2fr 10fr;
    grid-gap: 10px;
  
}

.App-content {
  grid-area: c;
  text-align: left;
  background-color:#EDF0F1;
}
